* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Arial';
}

body {
    --black1: #1C1D1F;
    --black2: #232323;
    --white1: #ffffff;
    --gray1: #EBECF2;
    --gray2: #d9d9dc;
    --gray3: #EBECF2;
    --gray4: #534A5C;
    --gray5: #939393;
    --gray6: #F9F9F9;
    --gray7: #B8B8CD;
    --gray8: #0000001A;
    --gray9: #818193;
    --gray10: #E4E4E9;
    --gray11: #F2F2F5;
    --gray12: #0000001F;
    --purple1: #871CF3;
    --purple2: #7866EC;
    --purple3: #bcb2f5;
    --purple4: #B277EE;
    --purple5: #F693FF;
    --purple6: #871CF31A;
    --purple7: #8324E4;
    --purple8: #5442CA;
    --blue1: #cfd3ee;
    --blue2: #3c58ea;
    --red1: #ff4d4f;
    --red2: #FFC7D5;
    --green1: #AEF2A8;
    --yellow1: #FFE793;
}