.skeleton_background {
    background: linear-gradient(90deg, #f4f4f6, #e8e8ee 37%, #f4f4f6 63%);
    background-size: 400% 100%;
    animation-name: skeleton-loading;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}


@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}