.wrapper {
    width: min-content;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-wrap: nowrap;
    border-radius: 4px;

    &.purple {
        background-color: var(--purple4);
        color: var(--white1);
    }
}