.input {
    padding: 8px 16px !important;
    border-radius: 10px !important;
    border: 1px solid var(--gray12) !important;
    background-color: var(--gray11) !important;
    box-shadow: none !important;
}