@use '@/app/styles/animations.scss';

.wrapper {
    @include flex-column;
    flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 0;
    padding: 8px;
    background-color: var(--white1);
    border: 2px solid var(--purple6);
    border-radius: 16px;
    animation-name: appearance;
    animation-duration: .3s;

    .img {
        @include set-width(100%);
        @include set-height(264px);
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
        margin-bottom: 8px;
        user-select: none;
    }

    .body {
        @include flex-column;
        padding: 16px 20px;

        .date {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: var(--gray5);
            margin-bottom: 8px;
            user-select: none;
        }

        .heading {
            @include set-line-count(2);
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            color: var(--black1);
            user-select: none;
        }
    }
}