.wrapper {
    @include flex-column;
    text-decoration: none;

    .avatar {
        @include set-width(192px);
        @include set-height(192px);
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .name {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: var(--black1);
    }

    .place {
        font-size: 14px;
        line-height: 20px;
        color: var(--black1);
        opacity: .6;
        margin-bottom: 8px;
    }
}